################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Benchmarks/ParallelThreadRing/Debug
/Benchmarks/ParallelThreadRing/Debug
/Benchmarks/PingPong/Debug
